// variable
$color-light: #fff;
$color-primary: #3F5D45;
$color-secondary: #EAF0ED;
$color-warning: #FFE180;

// map
$cardImages: (
    'image-1': url('https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-1.png?raw=true'),
    'image-2': url('https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-2.png?raw=true'),
    'image-3': url('https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-3.png?raw=true'),
    'image-4': url('https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-4.png?raw=true'),
    'image-5': url('https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-5.png?raw=true'),
    'image-6': url('https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/p-6.png?raw=true'),
)